# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Our output binary 
gopong

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Can be created by dep when an issue happens while updating, we definitely don't want this
.vendor-new

# Output of generate
lib/static/build.go
front/src/network/messageTypes.ts

# TICK sandbox volume
tick/data

# Javascript stuff
node_modules/
front/build

# Build artifact for Javascript
front/game.js
front/game.js.map
